body {
    background-color: linen;

}

.bgimg {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index:-1;
    opacity: 1;
    
}
#top-part{
    background-image:  linear-gradient(to bottom right, linen, burlywood );
    padding:0.5rem;
    margin-top: 1rem;
    border: 1px double white;
    font-family: 'Comfortaa', cursive;
}


.weather-display{
    background-image: url(../images/Weather.jpg)
        
} 

.search-result{
margin: 5%;
}



.responsive-img{
height: 50%, fit-content;
width: 50% ;

}

.address-input{
    width:50%;
}
.city-input{
    width:50%;
}

#input-button{
    margin-top: 2.5rem;
}
#main{
    margin-top: 1rem;
}

#section-one {
    padding:0.5rem;
    border: 1px solid black;

}
.additional-info{
    font-weight: 400;
    color: lightslategrey;
}
.toggler{
    width: 100%;
    background-color:black ;
    color: linen;
    border: 1px solid blanchedalmond;
    border-radius: 10px;
    padding-left: 0.1rem;
}
#weather{
    border: 1px solid whitesmoke;
  
}
#city-info{
    border: 1px solid whitesmoke;


}
#section-two {
    padding:0.5rem;
    border: 1px solid black;

}
#news{  
    border: 1px solid whitesmoke; 
 
 
}
#com-shop-etc{
    border: 1px solid whitesmoke;

}

.btn{
background-color: #26a69a;
color: whitesmoke;
font-weight: bold;

}


  .active, .toggler:hover {
    background-color: #555;
  }

  .panel-heading{
margin: 2%;
font-weight: 600;
margin-bottom: 0%;
padding-top: 4%;
}


