body {
    background-color: linen;

}
thead{
    background: rgb(243, 197, 150);
    padding: 1rem;
}
tbody{
    background: linen;
    padding:1rem;
}

.bgimg {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index:-1;
    opacity: 1;
    
}
#top-part{

    background-image: linear-gradient(to bottom right, burlywood , linen);
    padding:0.5rem;
    margin-top: 1rem;
    max-width: 1125px;
    width: 100%;
    font-family: 'Comfortaa', cursive;
}
#earnings{
    font-style: italic;
    border-bottom: 2px double goldenrod;
    border-top: 2px double goldenrod;
    background: seashell;
    padding-top: 1px;
    padding-bottom: 1px;
    
}
#employment{
    font-style: italic;
    border-bottom: 2px double goldenrod;
    border-top: 2px double goldenrod;
    background: seashell;
    padding-top: 1px;
    padding-bottom: 1px;
}

.weather-display{
    background-image: url(../images/Weather.jpg)
        
} 

.search-result{
margin: 5%;
}



.responsive-img{
height: 50%, fit-content;
width: 50% ;

}

.address-input{
    width:85%;
}
.city-input{
    width:85%;
}

#input-button{
    margin-top: 2.5rem;
}
#main{
    margin-top: 1rem;
    max-width: 1125px;
    width: 100%;
}

#section-one {
    width: 100%;

}
#econ-header{
    font-weight: 400;
    border-bottom: 3px double gold;
}
.additional-info{
    font-weight: 400;
    color: lightslategrey;
}
.toggler{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: darkslategrey ;
    color: goldenrod;
    border: 1px solid goldenrod;
    border-radius: 10px;
    padding-right: 1rem;
    font-weight: 400;   
}
.toggle-button{
    margin: 0.5rem;
    background-color: goldenrod;
    
    
}
.toggle-button:hover{
    background-color: gold;
    width:8rem;
}
#weather{
    border: 1px solid whitesmoke;
  
}
#city-info{
    border: 1px solid whitesmoke;
    
    color: rgb(150, 11, 11);
}

#section-two {
    padding:0.5rem;
    border: 1px solid black;

}
#news{  
    border: 1px solid whitesmoke; 
 
 
}
#com-shop-etc{
    border: 1px solid whitesmoke;

}
#tdot{
    
    border-bottom: 2px solid darkorange;
    border-right: 2px solid darkorange;
    border-radius: 65px;
    padding:1rem;
}
#plane{
   
    border-top: 2px solid #26a69a;
    border-left: 2px solid #26a69a;
    border-radius: 60px;
    margin-right:2rem;
    padding:1rem;
}
.jail{
    margin-left: 2.5rem;
}
.btn{
background-color: #26a69a;
color: whitesmoke;
font-weight: bold;

}


  .active, .toggler:hover {
    background-color: #555;
  }

.panel-heading{
margin: 2%;
font-weight: 600;
margin-bottom: 0%;
padding-top: 4%;
}



#section-three{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom,linen, rgb(250, 229, 209));
    margin-bottom: 1rem;
}
.event-name{
    font-size:18px;
    color: brown;
    font-weight: 400;
    background-image: linear-gradient(to bottom right, linen , gold);
    border:0px solid black;
    border-radius: 10px;
    width: 95%;
    
}
.event-img{
    
    border:3px solid gold;
    
}
.event-date{
    color:darkslategrey;
    opacity: 0.8;
    font-style: italic;
    margin-bottom: 2rem;
    margin-top:0.5rem;
}
#tickets-events{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    overflow-x: scroll;

}
#all-events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
#col-three{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    width: 100%;
}


.stat-font{
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 28px;
    color: rgb(59, 32, 59);
}
.table-1{
    margin-left: 2rem;
    height:7rem;
    font-size: 16px;
    color: rgb(122, 84, 122);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.table-2{
    margin-top: 2rem;
    margin-left: 2rem;
    height:7rem;
    font-size: 16px;
    color: darkslategrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.stat-title{
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    color: darkslategray;
    margin-left: 1.0rem;
    margin-top: 7rem;
   border-bottom: 3px double gold;
  
}

#newsResults{
    margin-left: 0.2rem;
    max-height: 600px;
    overflow-y: scroll;
    text-align: center;
}